@import 'mixins.scss';

body{
	@include WorkSans;
	line-height: 1.45;
	margin: 0;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	background: white;
	color: black;
}
body, html, .full-height{
	height: 100%;
}
p{
	padding-bottom: 1.25em;
}
a{

}
a:hover, a:focus, a:active{
	text-decoration: none;
}

/* Remove Bootstrap Margin*/
.navbar {
    margin-bottom: 0px;
}
h3, h5{
    margin: 0;
}
/* Remove Bootstrap Margin*/

/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* ---------------------------------- Main Vars ----------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

.page-header{
	@include Catamaran;
	color: $textBlack;
	font-size: 3.75em;
	font-weight: 300;
	line-height: 1.08;
	text-align: center;
}

.page-secondary-headers{
	@include Catamaran;
	color: $textBlack;
	font-size: 3.125em;
	font-weight: 300;
	line-height: 1.8;
	text-align: center;
}

.page-tertiary-headers{
	@include Catamaran;
	color: $textBlack;
	font-size: 2.5em;
	font-weight: 300;
	line-height: 1.62;
	text-align: center;
}

.page-subheaders{
	@include Catamaran;
	color: $textBlack;
	line-height: 1.12;
	font-size: 1.5625em;
}

.page-tertiary-subheaders{
	@include WorkSans;
	color: $textGrey;
	line-height: 1.59;
	font-size: 1.0625em;
    
}

.footer-title{
	@include WorkSans;
	color: $textWhite;
	font-size: 0.875em;
	line-height: 2.14;
}
.footer-detail{
    @extend .footer-title;
    color: $textGrey;
}

.footer-text{
	@include WorkSans;
	color: $textGrey;
	font-size: 0.875em;
	line-height: 2;
}

.labels{
	@include WorkSans;
	color: $textGrey;
	line-height: 1.75;
}

.button-text{
	@include WorkSans;
	font-size: 0.875em;
	line-height: 1.29;
	letter-spacing: 0.3px;
	color: $textWhite;
}
.button-text-dark{
	@extend .button-text;
	color: $textBlack;
}

.disclaimer-text{
	@extend .button-text;
	color: $textGrey;
    letter-spacing: normal;
}

.normal-text{
	@include WorkSans;
	color: $textGrey;
	font-size: 1.125em;
	line-height: 1.5;
}

/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* ---------------------------------- Site Wide ----------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
.page-title{
	padding: 8.9375em 0em 10.375em;
}
.content-wrapper{
	background-color: $backgroundGrey;
}
.content-full-width{
	background-color: $backgroundGrey;
	margin: 0px 44px;
}

.container-fluid [class^="col-"]{
	padding: 0;
}

.content-half-left{
	background-color: $backgroundGrey;
	margin-left: 44px;
	margin-right: 22px;
}
.content-half-right{
	background-color: $backgroundGrey;
	margin-left: 22px;
	margin-right: 44px;
}
.para{
	@extend .normal-text;
}
.button-hollow{
    display: inline-block;
    @extend .button-text-dark;
    padding: 1.0625em 4.125em;
    border: 1px solid $textBlack;
    margin: 0 auto;
    &:hover{
        color: $textBlack;
    }
}

.button{
    display: inline-block;
    @extend .button-text;
    background-color: $textBlack;
    padding: 1.0625em 4.125em;
    border: 1px solid $textBlack;
    margin: 0 auto;
    &:hover{
        color: $textBlack;
    }
}
//.button:hover{
//    
//}
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* ------------------------------------ About ------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
.about{
	.content{
		.content-full-width{
			padding: 7.5em 0em 8.125em;
		}
	}
}

h1{
	margin: 0em;
	@extend .page-header;
}
h2{
	@extend .page-secondary-headers;
}
h1.diaries{
	@extend .page-header;
	font-size: 80px;
}

/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* ------------------------------ Contactbanner  ---------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

.contact-banner{
    padding: 7.0625em 0em 10em;
    img{
        margin-bottom: 3em;
    }
    .title{
        @extend .page-tertiary-headers;
        
    }
    .subtitle{
        @extend .page-tertiary-subheaders;
        margin-bottom: 4.125em;
    }
}

/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------- footer  ------------------------------------ */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

.footer{
    background-color: $textBlack;
    .footer-content{
        padding: 2.6875em 0em;
        .footer-contact-details{
            img{
                margin-right: 0.875em;
            }
            img, .contact-detail{
                display: inline-block;
            }
            .contact-detail{
                @extend .footer-detail;
                margin-right: 3.75em;
            }
        }
        h5{
            @extend .footer-title;
        }
        .fb-btn img{
            margin-top: 1.25em;
        }
    }
    .disclaimer{
        border-top: 1px solid $borderGrey;
        padding: 3.125em 0em;
        img{
            margin-bottom: 1.5em;
        }
    }
    
}
.myModal{
        width: 34.75em;
        height: 40.5em;
    }

/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* ------------------------------ diaries-detail ---------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

.diaries-header{
    padding-bottom: 1.75em;
    border-bottom: 1px solid $border;
    h1, .price{
        @extend .page-subheaders;
        line-height: 1.04;
        
    }
    .price{
            font-weight: 300;
        }
    
}

.diaries-options{
    padding-top: 1.75em;
    padding-bottom: 2.1875em;
    border-bottom: 1px solid $border;
    .button-hollow, .button{
        display: block;
        text-align: center;
    }
    .stock.in{
        background-color: $green;
        
    }
    .stock{
        text-align: center;
        .stock-status{
            text-transform: uppercase;
            @extend .button-text;
            padding: 0.43em 0em;
            display: inline-block;
            
        }
        img{
            margin-left: 0.56em;
        }
    }
    .stock, .button{
        margin-bottom: 0.625em;
    } 
    
}

/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------- navigation-- ---------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

.navbar-center{
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    .content-full-width{
        background-color: transparent;
        border-bottom: 1px solid $border;
    }
}

/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------- Contact us  ----------------------------------- */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

.contact{
	.content{
		.content-full-width{
			padding: 7.5em 0em 8.125em;
            margin-bottom: 2.8125em;
            h2{
                @extend .page-subheaders;
                padding-bottom: 2.44em;
            }
            img, .box,.contact-detail{
                display: inline-block;
            }
            .box{
                width: 26px;
                vertical-align: top;
            }
            li{
                padding-bottom: 2.125em;
               
            }
            .contact-detail{
                 margin-left: 0.875em;
                 @extend .footer-detail;
            }
            .fb-btn{
                display: block;
                margin-top: 3.1875em;
            }
		}
	}
}